.dashboard {
    position: relative;
}
.top-bar {
    position: fixed;
    width: 100%;
    background-color: #82C3EC;
    height: 4rem;
    display: none;
    align-items: center;
    padding: 0 2rem;
    gap: .8rem;
    font-size: 2rem;
    font-weight: 700;
    z-index: 1;
}
.sidebar {
    position: absolute;
    left: 0;
    width: 15%;
    height: 100vh;
    background: linear-gradient(to bottom, #add8e6, #00008b);
    font-size: 1.4rem;
    padding: 1rem 2rem;
    z-index: 2;
    animation: sliding 0.5s ease-in-out both;
}
.sidebar h1 {
    color: #00008b;
}
.sidebar-backdrop {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 8px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: sliding 0.5s ease-in-out both;
}
.content {
    position: absolute;
    left: 15%;
    width: 85%;
    height: 100vh;
    background-color: #EEF7FF;
}
.content h1 {
    margin-top: 10rem;
    margin-left: 2rem;
}
.sidebar h1 {
    font-size: 2.4rem;
}
ul {
    list-style: none;
    margin-top: 150px;
}
ul li a,
.logout-menu a {
    border-radius: 0.4rem;
    padding-left: 0.2rem;
    font-weight: 600;
    display: flex;
    gap: .8rem;
    cursor: pointer;
    transition: transform .2s ease-in;
    text-decoration: none;
    color: black;
}
.logout-menu a {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 1.rem;
    font-weight: 600;
    transition: transform 250ms ease-out;
}
ul li a:hover {
    background-color: #068FFF;
    color: #fff;
    transform: scale(1.2);
}
.logout-menu {
    position: absolute;
    bottom: 1rem;
}
.logout-menu a:hover {
    transform: scale(1.1);
}
.merchant-group {
    margin-top: 4rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}
.merchant-group h3 {
    font-size: 1.4rem;
    font-weight: 600;
}
.merchant-item {
    font-size: 1.4rem;
    font-weight: 600;
}
.submit-btn {
    display: flex;
    justify-content: end;
}
.submit-btn button,
.update-btn,
.delete-btn,
.create-merchant-btn {
    margin-top: .4rem;
    background-color: #068FFF;
    color: #fff;
    border-radius: .4rem;
    padding: .4rem;
}
.submit-btn button{
    width: 12rem;
}
.delete-btn {
    background-color: #FC4100;
}
.action-cell {
    display: flex;
    gap: .4rem;
    justify-content: center;
}

@keyframes sliding {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
        width: 50%;
    }
    .sidebar-backdrop {
        display: none;
    }
    .content {
        left: 0;
        width: 100%;
    }
    .merchant-group {
        grid-template-columns: 1fr;
    }
    .top-bar {
        display: flex;
    }
}
